@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(351deg) brightness(106%)
        contrast(103%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-acton-group-bg-color: #292e39;
    --top-action-group-shadow: rgba(0, 0, 0, 0.2);
    --top-action-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Drop down
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(21%) saturate(552%) hue-rotate(185deg)
        brightness(92%) contrast(91%);

    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0.01) saturate(7336%) hue-rotate(179deg)
        brightness(97%) contrast(102%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);
}
